h1, h2{
    color: rgb(245, 13, 183);
}
.message{
    height: 200px;
    width: 400px;
    border: 2px solid red;
     border-radius: 6px;
     font-size: 20px;
}
.secret{
    height: 40px;
    font-size: 20px;
    border: 1px solid red;
    border-radius: 5px;
}
.encrypt-decrypt{
  margin-left: 100px;
    display: inline-block;
}
.action{
    background-color: #2380fb;
    font-weight: 700;
    padding: 0.7rem 1rem;
    border-color: #2380fb;
}